<div class="">
    <mat-toolbar class="side-nav-toolbar header-block">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="side-nav-app-name">Pariksha</h1>
        <div class="logout-container right-align display-flex">
            <span  class="person-icon"><i class="material-icons font30">person </i></span>
            <span class="user-name"> {{userDetail.firstName + ' ' + userDetail.lastName}}</span>
            <span class="logout-icon p10" (click)="navigateToRoute('/login')">
                <i class="material-icons font30">
              power_settings_new
              </i>
            </span>
        </div>
      
    </mat-toolbar>

    <mat-sidenav-container class="side-nav-container">
      <mat-sidenav #sidenav [mode]="modeVal" [(opened)]="opened" class="side-nav-events">
        <mat-nav-list>
            <a mat-list-item (click)="navigateToRoute('/home/userList')" [ngClass]="{'active': currentUrl == '/home/userList'}">
                <i class="material-icons side-bar-icon">group</i> User List
            </a>
            <a mat-list-item (click)="navigateToRoute('/home/questionList')" [ngClass]="{'active': currentUrl == '/home/questionList'}">
              <i class="material-icons side-bar-icon">question_answer</i> Question List
            </a>
            <a mat-list-item (click)="navigateToRoute('/home/candidateDetail')" [ngClass]="{'active': currentUrl == '/home/candidateDetail'}">
                <i class="material-icons side-bar-icon">person</i> Candidate Detail
            </a>
            <a mat-list-item (click)="navigateToRoute('/home/pendingAssignment')" [ngClass]="{'active': currentUrl == '/home/pendingAssignment'}">
                <i class="material-icons side-bar-icon">history</i> Pending Request
            </a>
          </mat-nav-list>
      </mat-sidenav>
    
      <mat-sidenav-content (window:resize)="onResize($event)">
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>