.question-container {
    height: 100%;
    overflow: auto;
}  
.question-table {
    width: 100%;
}
.head-cell{
    color: #fff;
    font-size: 16px;
    background: #61a1bc;
    padding-right: 10px;
}
.search-question {
    width: 250px;
    margin-right: 10px;
    font-size: 16px;
    height: 56px;
    /* margin-left: auto; */
}
.search-btn {
    width: 130px;
}
.answer-option {
    padding: 5px;
}