<div class="question-list-body p20">
  <mat-toolbar class="p10">  
    <mat-toolbar-row class="justify-contect">
        <mat-form-field class="search-question right-align">
          <input matInput [(ngModel)]="searchQuestion" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <!-- <mat-form-field class="search-question">
            <mat-select placeholder="Select Technology" [(ngModel)]="techfilter">
              <mat-option *ngFor="let tech of techOption" [value]="tech.technologyId">
                {{tech.technology}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        <button mat-raised-button type="button" color="primary" class="width130 mr10" (click)="addEditQuestionDialog({})"> Add Question </button>
        <button mat-mini-fab color="primary" (click)="fileInput.click()" matTooltip="Select CSV to upload question list." >
            <mat-icon>attach_file</mat-icon>
            <input #fileInput type="file" (change)="uploadCSV($event)" style="display:none;" />
          </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="question-container mat-elevation-z8">
    <table mat-table [dataSource]="questionList" class="question-table">
  
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> Question </th>
        <td mat-cell *matCellDef="let element"> {{element.question}} </td>
      </ng-container>

      <ng-container matColumnDef="answerOption">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Answer Option </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="answer-option"><span class="bold">A. </span>{{element.answerOption.A}}</div> 
            <div class="answer-option"><span class="bold">B. </span>{{element.answerOption.B}}</div> 
            <div class="answer-option"><span class="bold">C. </span>{{element.answerOption.C}}</div> 
            <div class="answer-option"><span class="bold">D. </span>{{element.answerOption.D}}</div> 
          </td>
        </ng-container>
  
      <ng-container matColumnDef="answer">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> Answer </th>
        <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
      </ng-container>
  
      <ng-container matColumnDef="technologyId">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> Technology </th>
        <td mat-cell *matCellDef="let element"> {{technologyMap[element.technologyId]}} </td>
      </ng-container>
  
      <ng-container matColumnDef="complexity">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="head-cell width75"> Action </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="ml-10 cursor-pointer skin-color"
              matTooltip="Edit Question information"
              (click)="addEditQuestionDialog(element)">
              edit
            </mat-icon>
            <mat-icon class="ml-10 cursor-pointer skin-color"
                      matTooltip="Delete Question" 
                      (click)="deleteQuestion(element)">
              delete
            </mat-icon>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>