<div class="assignment-detail-body">
  <div class="user-container mat-elevation-z8">
    <table mat-table [dataSource]="answerDetails" class="assignment-table width-100">

      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef class="head-cell header-block"> Question </th>
        <td mat-cell *matCellDef="let element"> {{element.question}} </td>
      </ng-container>

      <ng-container matColumnDef="answerOption">
        <th mat-header-cell *matHeaderCellDef class="head-cell header-block"> Answer </th>
        <td mat-cell *matCellDef="let element"> {{element.answerOption}} </td>
      </ng-container>

      <ng-container matColumnDef="marks">
        <th mat-header-cell *matHeaderCellDef class="head-cell header-block"> Marks </th>
        <td mat-cell *matCellDef="let element"> {{element.marks}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
