.login-form-block {  
  box-shadow: 2px 2px 11px 1px #e6e2e2;
  margin-top: 10%;
  padding: 40px 20px 10px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}
.login-form {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-btn {
  width: 200px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.login-img {
  width: 300px;
  margin-bottom: 20px;
}