/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* common CSS */
html, body {
    height: 100%;
}

.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mt-10 {
    margin-top: 10%;
}
.mt20 {
	margin-top: 20px;
}
.mr10 {
	margin-right: 10px !important;
}
* {
    box-sizing: border-box;
}
.form-field-full-width {
    width: 100%;
}
.width-100 {
    width: 100%;
}
.width130 {
	width: 130px;
}
.width75 {
	width: 75px;
}

.header-block {
    background: #61a1bc;
    color: #fff;
}
.skin-color {
    color: #61a1bc;
}
.active {
    background: #e0eaef;
}
.display-flex {
    display: flex;
}

.display-inline {
    display: inline-block;
}

.p10 {
	padding: 10px;
}
.p20 {
	padding: 20px;
}
.pt0 {
	padding-top: 0px;
}
.pl20 {
	padding-left: 20px;
}
.pr20 {
	padding-right: 20px;
}
.bold{
	font-weight: bold;
}
.color-whight {
	background: #fff;
}
.right-align {
	margin-left: auto !important;
}

.justify-contect {
    justify-content: space-between;
}

.cursor-pointer {
	cursor: pointer;
}
.font30 {
	font-size: 30px;
}

/* //assignment css */
.assignment-block .mat-horizontal-stepper-header {
    padding: 0px !important;
}
.assignment-block .mat-step-label{
    min-width: 0px !important;
}
.assignment-block .mat-horizontal-stepper-header-container {
	padding: 0px 10px;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}