<div>
    <mat-toolbar><h1>{{title}}</h1></mat-toolbar>
  
    <form class="assignment-form" [formGroup]="assignmentForm" (ngSubmit)="submit();" novalidate>
        <mat-form-field>
            <input matInput [(ngModel)]="assignmentObj.firstName" placeholder="First Name" formControlName="firstName" type="text" autocomplete="off">
            <mat-error *ngIf="assignmentForm.controls['firstName'].invalid">{{ getErrorMessage('firstName') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="assignmentObj.lastName" placeholder="Last Name" formControlName="lastName" type="text" autocomplete="off">
            <mat-error *ngIf="assignmentForm.controls['lastName'].invalid">{{ getErrorMessage('lastName') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="assignmentObj.email" placeholder="Email" formControlName="email" type="email" autocomplete="off">
            <mat-error *ngIf="assignmentForm.controls['email'].invalid">{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="assignmentObj.mobileNo" placeholder="Mobile No." maxlength="10" formControlName="mobileNo" type="text" autocomplete="off">
            <mat-error *ngIf="assignmentForm.controls['mobileNo'].invalid">{{ getErrorMessage('mobileNo') }}</mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
            <input matInput [(ngModel)]="assignmentObj.profile" placeholder="Profile" formControlName="profile" type="text" autocomplete="off">
            <mat-error *ngIf="assignmentForm.controls['profile'].invalid">{{ getErrorMessage('profile') }}</mat-error>
        </mat-form-field> -->
        <mat-form-field>
            <mat-select placeholder="Position" [(ngModel)]="assignmentObj.position" formControlName="position" autocomplete="off">
                <mat-option *ngFor="let position of positionList" [value]="position.positionId">{{position.position}}</mat-option>
            </mat-select>
            <mat-error *ngIf="assignmentForm.controls['primerySkill'].invalid">{{ getErrorMessage('position') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Experience" [(ngModel)]="assignmentObj.experience" formControlName="experience" autocomplete="off">
                    <mat-option *ngFor="let experience of experienceList" [value]="experience.experienceId">{{experience.experience}}</mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentForm.controls['primerySkill'].invalid">{{ getErrorMessage('experience') }}</mat-error>
            </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Primery Skill" [(ngModel)]="assignmentObj.technologies.primaryskill" formControlName="primerySkill" multiple autocomplete="off">
              <mat-option *ngFor="let technology of technologyList" [value]="technology.technologyId" disabled="{{getOptionStatus('primary', technology.technologyId)}}">{{technology.technology}}</mat-option>
            </mat-select>
            <mat-error *ngIf="assignmentForm.controls['primerySkill'].invalid">{{ getErrorMessage('primerySkill') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Secondry Skill" [(ngModel)]="assignmentObj.technologies.secondaryskill" formControlName="secondrySkill" multiple autocomplete="off">
              <mat-option *ngFor="let technology of technologyList" [value]="technology.technologyId" disabled="{{getOptionStatus('secondry', technology.technologyId)}}">{{technology.technology}}</mat-option>
            </mat-select>
            <mat-error *ngIf="assignmentForm.controls['secondrySkill'].invalid">{{ getErrorMessage('secondrySkill') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput 
            [matDatepicker]="picker" 
            [(ngModel)]="assignmentObj.validTill" 
            formControlName="validTill" 
            placeholder="Choose a date" 
            (focus)="_openCalendar(picker)" 
            (click)="_openCalendar(picker)" 
            #elementToFocus 
            autocomplete="off"
            [value]="date.value" 
            readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker="matDatepicker" (closed)="_closeCalendar($event)" ></mat-datepicker>
        </mat-form-field>
        <div class="center-element">
            <button mat-raised-button type="submit" color="primary" class="question-btn" [disabled]="!assignmentForm.valid"> Submit </button>
        </div>
    </form>
</div>