<h1 mat-dialog-title>Alert</h1>
<div mat-dialog-content>
  Assignment submitted succesfully.
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="mt20">
  <button mat-stroked-button color="primary" (click)="onDialogClose()">
    OK
  </button>
</div>
