<div class="user-list-body p20">

    <mat-toolbar class="p10">  
        <mat-toolbar-row class="justify-contect">
            <mat-form-field class="search-user">
              <input matInput [(ngModel)]="searchUser" (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <div><button mat-raised-button type="button" color="primary" class="width130" (click)="candidateDialog({}, 'createAssignment')"> Add Candidate </button></div>
        </mat-toolbar-row>
      </mat-toolbar>

    <div class="user-container mat-elevation-z8">
      <table mat-table [dataSource]="candidateList" class="user-table">

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Mobile No </th>
          <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Position </th>
            <td mat-cell *matCellDef="let element"> {{positionMap[element.position]}} </td>
        </ng-container>
  
        <ng-container matColumnDef="technologies">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Technologies </th>
            <td mat-cell *matCellDef="let element">
              <div class="technology" *ngIf="element.technologies.primaryskill.length">
                Primary Skill: <span *ngFor="let tech of element.technologies.primaryskill" class="bold">{{technologyMap[tech] }} </span>
              </div>
              <div class="technology" *ngIf="element.technologies.secondaryskill.length">
                Secondary Skill: <span *ngFor="let tech of element.technologies.secondaryskill" class="bold">{{technologyMap[tech]}} </span>
              </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Score </th>
            <td mat-cell *matCellDef="let element">
              <span class="test-score">{{element.score}}</span> 
              <span class="display-inline skin-color cursor-pointer" *ngIf="element.score != 'Not Attempted'" (click)="candidateDialog(element, 'assignmentDetail')">
                <i class="material-icons">info </i>
              </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Action </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon class="ml-10 cursor-pointer skin-color"
                        matTooltip="Edit candidate information"
                        (click)="candidateDialog(element)">
                edit
              </mat-icon>
              <mat-icon class="ml-10 cursor-pointer skin-color"
                        matTooltip="Delete candidate" 
                        (click)="deleteCandidate(element)">
                delete
              </mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <!-- <div>
      <mat-spinner></mat-spinner>
  </div> -->