.user-container {
    height: 100%;
    overflow: auto;
}  
.user-table {
    width: 100%;
}
.head-cell{
    color: #fff;
    font-size: 16px;
    background: #61a1bc;
}

.technology {
    padding: 5px;
}

.search-user {
    width: 250px;
    margin-right: 10px;
    font-size: 16px;
    height: 56px;
    margin-left: auto;
}
.search-btn {
    width: 130px;
}
.test-score {
    display: inline-block;
    padding: 10px;
}
