<mat-dialog-content class="mat-typography">
<div class="">
    <mat-toolbar>
      <h1>{{title}}</h1>
      <!-- <button mat-raised-button type="button" color="primary" class="right-align width130" (click)="navigateToUserList()"> User List </button> -->
    </mat-toolbar>
  
    <form class="add-user-form" [formGroup]="addUserForm" (ngSubmit)="submit();" novalidate>
        <mat-form-field>
            <input matInput [(ngModel)]="addUserObj.firstName" placeholder="First Name" formControlName="firstName" type="text" autocomplete="off">
            <mat-error *ngIf="addUserForm.controls['firstName'].invalid">{{ getErrorMessage('firstName') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="addUserObj.lastName" placeholder="Last Name" formControlName="lastName" type="text" autocomplete="off">
            <mat-error *ngIf="addUserForm.controls['firstName'].invalid">{{ getErrorMessage('lastName') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="addUserObj.email" placeholder="Email" formControlName="email" type="email" autocomplete="off">
            <mat-error *ngIf="addUserForm.controls['email'].invalid">{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="addUserObj.password" placeholder="Password" formControlName="password" type="password" autocomplete="off">
            <mat-error *ngIf="addUserForm.controls['password'].invalid">{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
            <input matInput [(ngModel)]="addUserObj.mobileNo" placeholder="Mobile No." maxlength="10" formControlName="mobileNo" type="text" autocomplete="off">
        </mat-form-field> -->
        <!-- <mat-form-field>
            <input matInput [(ngModel)]="addUserObj.designation" placeholder="Designation" formControlName="designation" type="text" autocomplete="off">
        </mat-form-field> -->
        <!-- <mat-form-field>
            <mat-select placeholder="Role" [(ngModel)]="addUserObj.roleId" formControlName="roleId">
              <mat-option *ngFor="let role of roleOptions" [value]="role.roleId">{{role.role}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addUserForm.controls['roleId'].invalid">{{ getErrorMessage('roleId') }}</mat-error>
        </mat-form-field> -->
        <div class="center-element">
            <button mat-raised-button type="submit" color="primary" class="question-btn" [disabled]="!addUserForm.valid"> Submit</button>
        </div>
    </form>
</div>
</mat-dialog-content>